<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
    <h1>Blog</h1>

    <!-- 모델명_list 로 하면 목록이 담긴 객체를 전달해줌 ( 장고에서 제공 ) -->
    {% for p in post_list %}
        <hr>
        <h3><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h3>
        <h5>{{ p.created_at }}</h5>
        <p>{{ p.content }}</p>
    {% endfor %}
</body>
</html>